<h1 class="number-task">N° de Tareas: {{ tasks.length }}</h1>
<h2 class="title">Lista de Tareas</h2>

<div class="flex">
  <div
    class="container-tasks"
    [ngStyle]="{ 'justify-content': tasks.length === 0 ? 'center' : '' }"
  >
    <div class="task" *ngFor="let task of tasks; let i = index">
      <p>{{ task.id }}</p>
      <small>
        <span
          [appStatusTaks]="task.completed"
          *ngIf="!task.completed"
          class="status"
        >
          Pendiente
        </span>
      </small>
      <small>
        <span
          [appStatusTaks]="task.completed"
          *ngIf="task.completed"
          class="status-completed"
        >
          Completada
        </span>
      </small>
      <span [ngClass]="{ subrayar: task.completed }">{{ task.title }}</span>
      <input
        type="checkbox"
        class="task-check"
        [checked]="task.completed"
        (change)="completeTask(task)"
      />
      <button
        class="task_delete"
        (click)="deleteTask(task.id)"
        [appConfirmDelete]="task.title"
      >
        Eliminar
      </button>
      <button class="task_edit" (click)="editTask(task.id)">Editar</button>
    </div>
    <span [ngStyle]="{ color: 'red' }" *ngIf="tasks.length === 0">
      No hay tareas
    </span>
  </div>
  <!-- <div class="container-tasks">
    <div class="task" *ngFor="let task of taskUpLoad; let i = index">
      <p>{{ task.id }}</p>
      <small>
        <span
          [appStatusTaks]="task.completed"
          *ngIf="!task.completed"
          class="status"
        >
          Pendiente
        </span>
      </small>
      <small>
        <span
          [appStatusTaks]="task.completed"
          *ngIf="task.completed"
          class="status-completed"
        >
          Completada
        </span>
      </small>
      <span [ngClass]="{ subrayar: task.completed }">{{ task.title }}</span>
    </div>
  </div> -->
</div>
