.add-button{
    position: absolute;
    right: 40px;
    bottom: 4px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: lightslategray;
    color: white;
    cursor: pointer;
}