<!-- Formulario de nueva tarea -->
<form class="container-input" [formGroup]="taskForm" (ngSubmit)="addTask()">
  <input formControlName="taskName" placeholder="Ingresar tarea" />

  <button type="submit" [disabled]="taskForm.invalid">Enviar</button>
</form>

<!-- Validaciones -->
<div
  *ngIf="
    taskForm.get('taskName')?.invalid &&
    taskForm.get('taskName')?.touched &&
    taskForm.get('taskName')?.dirty
  ">
  <p class="error" *ngIf="taskForm.get('taskName')?.errors?.['minlength']">
    El nombre debe tener al menos 3 letras.
  </p>

  <p class="error" *ngIf="taskForm.get('taskName')?.errors?.['required']">
    El nombre es requerido.
  </p>
</div>