<h1 class="number-task" [ngClass]="{'r1-5': numberTanks>=1 && numberTanks<=5, 'r5-10': numberTanks>=6 && numberTanks<=10, 'r10-15': numberTanks>=11 }"> N° de Tareas {{ numberTanks }}</h1>
<span [ngStyle]="{ color: isActive ? 'green' : 'red' }">Titulo de Tarea: {{ taskForm.get('taskName')?.value }}</span>
<div>
  <span *ngIf="isActive" class="active"> No puedes agregar una tarea sin nombre
  </span>
</div>

<form [formGroup]="taskForm" (ngSubmit)="addTask()"> <!-- Data Binding - Event Binding (ngSubmit) -->
  <input formControlName="taskName" placeholder="Nueva tarea">


  <div *ngIf="taskForm.get('taskName')?.invalid && taskForm.get('taskName')?.touched && taskForm.get('taskName')?.dirty">
    <p class="error" *ngIf="taskForm.get('taskName')?.errors?.['minlength']">
      El nombre debe tener al menos 3 letras.
    </p>

    <p class="error" *ngIf="taskForm.get('taskName')?.errors?.['required']">
      El nombre es requerido.
    </p>
  </div>
  <button type="submit" [disabled]="taskForm.invalid">Agregar tarea</button>
  <!-- Data Binding - Property Binding ([disabled]) -->
</form>

 <div *ngFor="let tank of tanks">
  <p>{{ tank.name }}</p>

</div> 